html, body {
  width: 90%;
  height: 90%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
#app {
  width: 800px;
  height: 500px;
}
.yao .yaogua {
  text-align: center;
}
.yao .yaogua button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.yao .yingbi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
.yao .yingbi .yingbi-item {
  width: 130px;
  height: 150px;
  background-image: url("./img/images.jpg");
  background-repeat: no-repeat;
  transition: all 0.1s;
  background-position: -10px -10px;

}

.yao .yingbi .yingbi-item.animate {
  background-position: -142px -10px;
}

#render .results {
  font-size: 30px;
  display: flex;
}

#render .results .results-item {
  margin-right: 20px;
}

#render .bagua {
  text-align: center;
}